
@{
    ViewData["Title"] = "ثبت سفارش";
}


<div class="alert alert-info">
    <p>
        <b>ثبت سفارش</b>
        <br />
        سفارش شما با موفقیت ثبت شد و می توانید در لیست سفارشات آن را مشاهده نمایید
        <br />
        <a asp-action="Index" asp-controller="Orders">مشاهده سفارسات</a>
    </p>
</div>
